<p id="notice"><%= notice %></p>
<div class="jumbotron">
  <h1 align="center">Movies</h1>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Rating</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= link_to movie.title, movie,class: "btn" %></td>
        <td><p style="font-size: 20px;" class="btn"><%= movie.description %></p></td>
        <td><p style="font-size: 20px;" class="btn"><%= movie.rating %></p></td>
        <td><%= link_to "Edit Movie", edit_movie_path(movie),class: "btn btn-primary",style: "color: white;" %></td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' },class: "btn btn-danger",style: "color: white;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path,class: "btn btn-success",style: "color: white ;" %>
